<h1>Stupid Coaching</h1>
<div class="you">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="coach">
  <p><strong><%= @answer %></strong></p>
  <p>-Your coach</p>
</div>

<a href="/ask">Ask a new question</a>
