// Place all the styles related to the questions controller here.
h1 {
  font-weight: 600;
}

.you {
  background-color: aliceblue;
  border: black;
  border-radius: 2px;
  padding: 20px;
}

.coach {
  background-color: burlywood;
  border: black;
  border-radius: 2px;
  padding: 20px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
